@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
* {
  padding: 0;
  outline: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #FCFCFC;
}

body, button, input {
  font: 14px 'Montserrat', sans-serif;
}
